---
extends: default

ignore: |
  .git/
  .github/
  .venv/
  venv/
  node_modules/

rules:
  line-length:
    max: 160
    level: warning

  truthy:
    allowed-values: ['true', 'false']

  comments-indentation: false

  braces:
    max-spaces-inside: 1

  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
