services:
  app:
    image: {{ app_image }}:{{ app_image_tag }}
    container_name: {{ app_container_name }}
    restart: {{ app_restart_policy }}
    env_file:
      - {{ app_env_filename }}
{% if app_ports | length > 0 %}
    ports:
{% for port in app_ports %}
      - "{{ port }}"
{% endfor %}
{% endif %}
{% if app_volumes | length > 0 %}
    volumes:
{% for volume in app_volumes %}
      - {{ volume }}
{% endfor %}
{% endif %}
{% if app_networks | length > 0 %}
    networks:
{% for network in app_networks %}
      - {{ network }}
{% endfor %}
{% endif %}
{% if app_entrypoint | length > 0 %}
    entrypoint: {{ app_entrypoint }}
{% endif %}
{% if app_command | length > 0 %}
    command: {{ app_command }}
{% endif %}
{% if app_extra_compose | length > 0 %}
{{ app_extra_compose | indent(4, true) }}
{% endif %}

{% if app_networks | length > 0 %}
networks:
{% for network in app_networks %}
  {{ network }}:
    driver: bridge
{% endfor %}
{% endif %}
