services:
  caddy:
    image: caddy:2
    container_name: "{{ caddy_container_name }}"
    restart: unless-stopped
    ports:
      - "{{ caddy_http_port }}:80"
      - "{{ caddy_https_port }}:443"
    volumes:
      - "{{ caddy_compose_dir }}/{{ caddy_main_config_filename }}:/etc/caddy/Caddyfile"
      - "{{ caddy_sites_dir }}:/etc/caddy/sites-enabled"
      - "{{ caddy_data_dir }}:/data"
      - "{{ caddy_config_dir }}:/config"
      - "{{ caddy_log_dir }}:/var/log/caddy"