modules:
  http_2xx:
    prober: http
    timeout: 5s
    http:
      method: GET
      valid_status_codes: {{ monitoring_stack_blackbox_valid_status_codes }}
      preferred_ip_protocol: ip4
      no_follow_redirects: false
      fail_if_ssl: false
      fail_if_not_ssl: false
