groups:
  - name: node-alerts
    rules:
      - alert: InstanceDown
        expr: up{job="{{ monitoring_observability_node_job_name }}"} == 0
        for: 2m
        labels:
          severity: critical
        annotations:
          summary: "Instance down"
          description: "L'instance {{ "{{ $labels.instance }}" }} ne répond plus."

      - alert: HighCPUUsage
        expr: |
          100 - (
            avg by(instance, environment, host, project) (
              rate(node_cpu_seconds_total{job="{{ monitoring_observability_node_job_name }}", mode="idle"}[5m])
            ) * 100
          ) > {{ monitoring_observability_cpu_warning_threshold }}
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: "CPU élevée"
          description: "La VM {{ "{{ $labels.host }}" }} dépasse le seuil CPU."

      - alert: HighMemoryUsage
        expr: |
          (
            1 - (
              node_memory_MemAvailable_bytes{job="{{ monitoring_observability_node_job_name }}"}
              /
              node_memory_MemTotal_bytes{job="{{ monitoring_observability_node_job_name }}"}
            )
          ) * 100 > {{ monitoring_observability_memory_warning_threshold }}
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: "Mémoire élevée"
          description: "La VM {{ "{{ $labels.host }}" }} dépasse le seuil mémoire."

      - alert: DiskSpaceLow
        expr: |
          (
            node_filesystem_avail_bytes{job="{{ monitoring_observability_node_job_name }}", fstype!~"tmpfs|overlay", mountpoint="/"}
            /
            node_filesystem_size_bytes{job="{{ monitoring_observability_node_job_name }}", fstype!~"tmpfs|overlay", mountpoint="/"}
          ) < {{ monitoring_observability_disk_free_ratio_threshold }}
        for: 5m
        labels:
          severity: critical
        annotations:
          summary: "Disque presque plein"
          description: "La VM {{ "{{ $labels.host }}" }} a peu d'espace libre sur /."
