apiVersion: 1

providers:
  - name: monitoring-observability
    orgId: 1
    folder: "{{ monitoring_observability_grafana_dashboard_folder }}"
    type: file
    disableDeletion: false
    editable: true
    options:
      path: "{{ monitoring_observability_grafana_dashboards_dir }}"