groups:
  - name: monitoring-observability-node-recording-rules
    rules:
      - record: instance:node_cpu_usage_percent:avg5m
        expr: |
          100 - (
            avg by(instance, environment) (
              rate(node_cpu_seconds_total{mode="idle"}[5m])
            ) * 100
          )

      - record: instance:node_memory_usage_percent
        expr: |
          (
            1 - (
              node_memory_MemAvailable_bytes
              /
              node_memory_MemTotal_bytes
            )
          ) * 100

      - record: environment:node_instances_up:count
        expr: |
          count by(environment) (
            up{job=~"{{ monitoring_observability_node_job_regex }}"} == 1
          )

      - record: environment:node_instances_down:count
        expr: |
          count by(environment) (
            up{job=~"{{ monitoring_observability_node_job_regex }}"} == 0
          )

  - name: monitoring-observability-blackbox-recording-rules
    rules:
      - record: environment:blackbox_probe_success_ratio
        expr: |
          avg by(environment) (
            probe_success{job=~"{{ monitoring_observability_blackbox_job_regex }}"}
          )

      - record: environment:blackbox_probe_duration_seconds:avg
        expr: |
          avg by(environment) (
            probe_duration_seconds{job=~"{{ monitoring_observability_blackbox_job_regex }}"}
          )
